@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
:root
{
    --main-color: #EBC47F;
    --black: #EBC47F;
    --bg: #171515;
    --border: .1rem solid #EBC47F;
}
*
{
    font-family: sans-serif;
    margin:0;
    padding: 0;
    font-weight: 1000px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
    width: .5rem;
}
html::-webkit-scrollbar-track
{
    background: var(--bg);
}
html::-webkit-scrollbar-thumb
{
    background: var(--black);
    border-radius:  3rem;
}
.header
{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo img
{
    height: 7rem;;
}
.header .navbar a
{
    margin: 0 1.2rem;
    font-size: 1.9rem;
    color:#EBC47F;
}
.header .navbar a:hover
{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
}
.header .icons div
{
    color: #EBC47F;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover
{
    color: var(--main-color);
}
.header .search-form
{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #f5f3f1;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin:top ;
}
.header .search-form input
{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label
{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover
{
    color: var(--main-color);
}
.c5
{
    width: 350px;
    min-height: 30px;
    padding: 0%;
    background-image: linear gradient(rgba(244, 246, 255, 0.441),rgba(233, 255, 255, 0.452));
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: right;
    justify-content: right;
}
.search
{
    width: 100%;
    max-width: 700px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: right;
    border-radius:10px;
    padding: 10px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search input
{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1px;
    font-size: 15px;
    color: #cac7ff;
}
::placeholder
{
    color: #cac7ff;
}
.search button img
{
    width: 25px;
}
.search button
{
    border: 0;
    border-radius: 50%;
    width: 60px;
    background: #625e5e00;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    width: 1500px;
    margin-top: 150px;
    height: 600px;
    padding: 50px;
    font-size: 15px;
    background-image: url("background.png");
  }
  
  .c3 {
    text-align: right;
    margin-bottom: 0px;
    margin-right: 450px;
  }
  
  .c4 {
    display: flex;
  }
  
  .c1 {
    flex: 1;
    padding: 20px;
  }
  
  .c2 {
    flex: 1;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: 200%;
    }
    
    .c4 {
      flex-direction: column;
    }
    
    .c1, .c2 {
      width: 100%;
      padding: 10px;
    }
  }
  * {box-sizing: border-box;}
  .menu .box-container
  {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    gap:1.5 rem;
  }
.menu .box-container .box
{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box img
{
    height: 100px;
    border: 2px solid #EBC47F ;

}
.menu .box-container .box h3
{
    color: var(--bg);
    font-size: 2 rem;
    padding: 1 rem 0;
}
.menu .box-container .box .prive
{
    font-size: 1.5rem;
}
.menu .box-container .box :hover > *
{
    color: var(--bg);
}
.heading
{
    font-size: 3rem;
    align-content: center;
}
.box
{
    background-color: var(--bg);
    
}
.box-container :hover
{
    background-color: #757577 ;
    cursor: pointer;
}
.heading
{
    width:1480px;
    height: 100px;
    background-color: var(--bg);
}
.x
{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-right: 10px;
    margin-left: 10px;
    height: 450px;
    padding: 10px;
}
.z
{
    align-content: right;
}
.button :hover
{
    cursor: pointer;
}
.cart 
{
    padding: 25px;
    font-size: 15px;
    background-color: var(--bg);
  }
.c10
{
    background: var(--bg);
    width: 1500px;
    height: 125px;
    padding: 15px;
}

